.aws-sam
*.code-workspace
*.sha256
*.tfstate*
*.tsv
.DS_STORE
.DS_Store
.env
.idea/
.terraform
.terraform.lock.hcl
.terraform/
.tfsec/
.tfsec/*
.vscode
coverage/
env/
terraform.tfstate
tmp/
venv/
megalinter-reports
