name: Build-test-push
on:
  push:
    branches:
      - main
    paths:
      - "instance-scheduler/**"
      - ".github/workflows/build-test-push.yml"
      - "**.yaml"
      - "**.yml"
      - "**.json"
      - "Makefile"
  pull_request:
    branches:
      - main
    paths:
      - "instance-scheduler/**"
      - ".github/workflows/build-test-push.yml"
      - "**.yaml"
      - "**.yml"
      - "**.json"
      - "Makefile"
  workflow_dispatch:
env:
  AWS_REGION: "eu-west-2"
  
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:

  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@0c879ebf9183dd7e47d3fe9c961afa3271843b8b # v3.6.0
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}  

  build-test-push:
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@0c879ebf9183dd7e47d3fe9c961afa3271843b8b # v3.6.0
        with:
          environment_management: ${{ needs.fetch-secrets.outputs.environment_management }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: Get Account Number
        run: |
          ACCOUNT_NUMBER=$(jq -r -e '.account_ids["core-shared-services-production"]' <<< "$ENVIRONMENT_MANAGEMENT")
          echo "::add-mask::$ACCOUNT_NUMBER"
          echo "ACCOUNT_NUMBER=$ACCOUNT_NUMBER" >> $GITHUB_ENV
          echo "LAMBDA_ROLE_ARN=arn:aws:iam::$ACCOUNT_NUMBER:role/InstanceSchedulerLambdaFunctionPolicy" >> $GITHUB_ENV
      
      - name: Configure AWS credentials and assume github-actions role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.23"
          cache-dependency-path: "**/go.sum"
      - uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # v2
      - name: SAM Validate
        run: |
          sam validate --region ${{ env.AWS_REGION }}
      # Build inside Docker containers
      - name: SAM Build
        run: sam build --use-container --region ${{ env.AWS_REGION }}
      - name: SAM Local Invoke
        run: |
          aws sts assume-role --role-arn $LAMBDA_ROLE_ARN --role-session-name githubactionsgotestrolesession > creds
          export AWS_ACCESS_KEY_ID=$(cat creds | jq -r '.Credentials.AccessKeyId')
          export AWS_SECRET_ACCESS_KEY=$(cat creds | jq -r '.Credentials.SecretAccessKey')
          export AWS_SESSION_TOKEN=$(cat creds | jq -r '.Credentials.SessionToken')

          # Capture SAM output in a variable
          SAM_OUTPUT=$(sam local invoke InstanceSchedulerFunction --event event.json 2>&1)
          echo "$SAM_OUTPUT"

          # Check for errors in the output
          if echo "$SAM_OUTPUT" | grep -i "error"; then
            echo "Error detected in SAM invoke output."
            exit 1
          fi

          unset AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN
      - name: Configure AWS credentials and assume github-actions role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}
      - name: SAM Package
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: sam package --image-repository $ACCOUNT_NUMBER.dkr.ecr.eu-west-2.amazonaws.com/instance-scheduler-ecr-repo --output-template-file packaged-template.yaml
      - name: Add the `latest` tag to the container image
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: docker tag instanceschedulerfunction:1.2 $ACCOUNT_NUMBER.dkr.ecr.eu-west-2.amazonaws.com/instance-scheduler-ecr-repo:latest
      - name: Login to ECR
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: aws ecr get-login-password --region eu-west-2 | docker login --username AWS --password-stdin $ACCOUNT_NUMBER.dkr.ecr.eu-west-2.amazonaws.com
      - name: Push the container image with the `latest` tag to ECR
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: docker push $ACCOUNT_NUMBER.dkr.ecr.eu-west-2.amazonaws.com/instance-scheduler-ecr-repo:latest
      - name: Deploy the latest image
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          IMAGE_TAG=$(grep -w ImageUri packaged-template.yaml | cut -d: -f3)
          echo "IMAGE_TAG=$IMAGE_TAG"
          aws lambda update-function-code --function-name instance-scheduler-lambda-function --image-uri $ACCOUNT_NUMBER.dkr.ecr.eu-west-2.amazonaws.com/instance-scheduler-ecr-repo:${IMAGE_TAG}
